{% extends 'base.html' %}
{% load static %}
{% block title %} Taryfikator - strona główna {% endblock %}

{% block navbar %}
{% endblock %}

{% block active %} Strona główna{% endblock %}
{% block body %}


{% block styles %}

{% endblock styles %}


<div class='container-fluid px-0' >
    <div class='jumbotron jumbotron-fluid'>
        <div class="container">
            <h1 class="display-4">Witaj!</h1>
            <p class="lead">To jest strona głowna programu PyTar - Taryfikator. Jezeli chcesz policzyć taryfę, przejdź do zakładki Taryfikator.
            Strona jest obecnie w budowie. Więcej rzeczy pojawi się już wkrótce...
            </p>
        </div>
    </div>
</div>


{% endblock %}